body{
    background-image: url('./imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
    font-family: sans-serif;
    color: white;
}

#container{
    display: flex;
    justify-content: space-between;
}

.box{
    width: 45%;
    background-color: rgb(136, 49, 49);
    border-radius: 20px;
    border: 5px green solid;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clickerBox{
    height: 25rem;
}

#badnik{
    width: 20rem;
    margin: 1rem;
    cursor: pointer;
}

#ringsCounterGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}

#abilityGroup{
    max-height: 30rem;
    overflow-y: scroll;
}

.abilityBox{
    width: 90%;
    display: flex;
    border: 2px white solid;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0.5rem;
    min-height: 5rem;
}

.abilityBox p, h3, h4, .icon{
    margin-right: 1rem;
    margin-left: 1rem;
}